@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navigation-list,
.navigation-user {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages-title h2 {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  width: 720px;
  color: #000000;
}

.advantages-description {
  margin: 0 auto;
  font-weight: 400;
  font-size: 22px;
  width: 720px;
  color: #000000;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-list .advantages-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.advantages-number,
.advantages-text {
  font-weight: 400;
  font-size: 18px;
  color: basic/dark;
}

.advantages-item {
  width: 400px;
}

.advantages-item-blue {
  display: flex;
  text-align: center;
}

.advantages-item-blue .advantages-title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-item-blue .advantages-number,
.advantages-item-blue .advantages-text {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.reason-list {
  display: flex;
  height: 384px;
  text-align: center;
  list-style-type: none;
}

.reason-title-home,
.reason-title-gift {
  font-weight: 700;
  font-size: 24px;
  color: basic/dark;
  background-color: #83B3D31F;
}

.reason-title-food {
  font-weight: 700;
  font-size: 24px;
  color: basic/dark;
}

.reason-text {
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.search {
  display: block;
  height: 417px;
  text-align: center;
  justify-content: space-between;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.search-description {
font-weight: 400;
font-size: 22px;
color: basic/dark;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #756257;
}

.subscription-index {
  display: flex;
  height: 411px;
  text-align: center;
  background-image: url("images/jpg/index-background-2.jpg");
}

.subscription-title-index {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  background-color: black;
}

.subscription-text-index {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  background-color: black;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  list-style-type: none;
}




/* CATALOG  */

.inner-header-title {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  background-color: black;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background-color: black;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: black;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background-color: black;
}

/* ШРИФТЫ ДЛЯ КНОПОК "ПРИМЕНИТЬ","СБРОСИТЬ" */

.menu-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.product-list {
  margin: 0;
  padding: 0;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: basic/dark;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: basic/dark;
}

.product-card-button button-brown{
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #756257;
}

.product-card-button button-blue{
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

.button pagination-show-more {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-link pagination-current {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #e5e5e5;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.subscription-title-inner {
  font-weight: 700;
  font-size: 30px;
  color: black;
  background-color: #FFFFFF;
}

.subscription-text-inner {
  font-weight: 400;
  font-size: 22px;
  color: black;
  background-color: #FFFFFF;
}
