@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #FFFFFF;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.advantages-description {
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-number {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-text {
  font-weight: 400;
  font-size: 18px;;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.advantages-number,
.advantages-text {
  font-weight: 400;
  font-size: 18px;
  color: basic/dark;
}

.reason-title-home,
.reason-title-gift {
  font-weight: 700;
  font-size: 24px;
  color: basic/dark;
  background-color: #83B3D31F;
}

.reason-title-food {
  font-weight: 700;
  font-size: 24px;
  color: basic/dark;
}

.reason-text{
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.search-description {
font-weight: 400;
font-size: 22px;
color: basic/dark;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #756257;
}

.subscription-title-index {
  font-weight: 700;
  font-size: 30px;
  color: #FFFFFF;
  background-color: black;
}

.subscription-text-index {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  background-color: black;
}





/* CATALOG  */

.inner-header-title {
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
  background-color: black;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  background-color: black;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: black;
}

.control-label {
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  background-color: black;
}

/* ШРИФТЫ ДЛЯ КНОПОК "ПРИМЕНИТЬ","СБРОСИТЬ" */

.menu-title {
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  color: basic/dark;
}

.product-card-price {
  font-weight: 400;
  font-size: 18px;
  color: basic/dark;
}

.product-card-button button-brown{
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #756257;
}

.product-card-button button-blue{
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.button pagination-show-more {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-link pagination-current {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  background-color: #e5e5e5;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.subscription-title-inner {
  font-weight: 700;
  font-size: 30px;
  color: black;
  background-color: #FFFFFF;
}

.subscription-text-inner {
  font-weight: 400;
  font-size: 22px;
  color: black;
  background-color: #FFFFFF;
}
